// main colors 
$color_1 : #009C49;
$color_2 : #EF8A07;

// head colors 
$h_color_1 : #373636;


$p_color_1 : #AEA5A5;
$p_color_2 : #6F6F6F;

$main:#009C49;
$sec :#EF8A07;
$text:#373636;

$dir: "rtl";